@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

body{
    color: rgb(255, 239, 239);
    font-size: 2em;
    font-family: 'Caveat', cursive;
    background: url('foto/aranha.jpg') no-repeat top center;
}